<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
resultat de recherche:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- List of Text Items -->
<ion-list>
  <ion-item>

    <ion-label>choisir la ville</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">berkane</ion-select-option>
      <ion-select-option value="blonde">oujda</ion-select-option>
      <ion-select-option value="black">taourit</ion-select-option>
      <ion-select-option value="red">saidia</ion-select-option>
      <ion-select-option value="red">taza</ion-select-option>
      <ion-select-option value="red">laioun</ion-select-option>
      <ion-select-option value="red">jerada</ion-select-option>
      <ion-select-option value="red">casa</ion-select-option>
      <ion-select-option value="red">fes</ion-select-option>
      <ion-select-option value="red">rabat</ion-select-option>
      <ion-select-option value="red">tanger</ion-select-option>
      <ion-select-option value="red">tetouane</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>

    <ion-label>choisir la quartier</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">quods</ion-select-option>
      <ion-select-option value="blonde">andalous</ion-select-option>
      <ion-select-option value="black">lazari</ion-select-option>
      <ion-select-option value="red">bouarfa</ion-select-option>
      <ion-select-option value="red">kenzi</ion-select-option>
      <ion-select-option value="red">doha</ion-select-option>
 

    </ion-select>


<div style="height: 50px; display:block"></div>
  </ion-item>
</ion-list>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>jamal belali</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">2 km</span>
    <button  href="../tab2" type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>mohammed kaidi</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">3.7 km</span>
    <button  type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>ilham smlalia</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">5 km</span>
    <button type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>abderahman jalal</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">6 km</span>
    <button type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>mohammed benmoussa</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">9 km</span>
    <button type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>karim asbaki</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">9.2 km</span>
    <button type="button" class="btn btn-success">voir profile</button>
  </ion-item>

  <ion-item> 
    <ion-thumbnail item-start>
      <img src="..\assets\l.png">
    </ion-thumbnail>
    <ion-label>mohammed gharib</ion-label>
    <span style="margin-right: 17px;" class="badge badge-primary badge-pill">11 km</span>
    <button type="button" class="btn btn-success">voir profile</button>
  </ion-item>


</ion-content>
